snippet s "A writeup template"
\documentclass{article}

\usepackage[utf8]{inputenc}

\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{fancyhdr}
\usepackage{listings}
\usepackage{enumerate}
\usepackage{graphicx}
\usepackage{multicol}
\usepackage{wrapfig}

\oddsidemargin 0cm
\topmargin -0.5in
\textwidth 6.5in
\textheight 8.5in

\title{Assignment}
\author{Roger Chen}

\begin{document}
\maketitle

$0

\end{document}
endsnippet
